.date-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  width: 50px; /* Fixed width for all date items */
  min-height: 80px;
  text-align: center;
}

.date-item:hover {
  background-color: #f0f0f0;
}

.date-item.selected {
  background-color: #00000020;
}

.date-item {
  position: relative;
}

.date-item .game-indicator {
  position: absolute;
  bottom: 8px;
  right: 0;
  left: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background-color: orange;
  border-radius: 50%;
}
