.loginLogoutButton {
    margin-left: 10px;
    transition: 0.3s;

}

.loginLogoutButton:hover {
    scale: 1.05;
    transition: 0.3s;
}

.container-fluid {
    max-width: 80%;
    margin: auto;
    overflow-x: hidden;
}

@media (max-width: 990px) {
    .container-fluid{ 
        max-width: 100%;
    }
}