.loginLogoutButton {
    margin-left: 10px;
}

.container-fluid {
    max-width: 80%;
    margin: auto;
}

RouterProvider {
    margin-top: 135px;
}

@media (max-width: 990px) {
    .container-fluid{ 
        max-width: 100%;
    }
}