/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.loginLogoutButton {
  margin-left: 10px;
}

.container-fluid {
  max-width: 80%;
  margin: auto;
}

.ag-theme-quartz {
}



@media (max-width: 990px) {
  .container-fluid {
    max-width: 100%;
  }
}
